{% extends "base.html" %} {% block title %} About {% endblock title %} {% block body %}

<div class="container-fluid px-0">
    <img src="/static/img/abt_us_new.jpg" class="d-block w-100 mx-0" alt="...">
</div>

<div class="container my-4">

    <h1 style="text-align:center">Danny Ice Creams</h1>

    <p>
        <strong>‘Danny Ice Creams’</strong> is Chemnitz's first foundation serving german-motivated frozen yogurt rolls. This idea was made in the city of chemnitz, serving new, made-to-arrange frozen yogurt. Roused by this frozen yogurt craftsmanship
        and by the manner in which barkeeps slyly make mixed drinks made to arrange, we mix the two ways to deal with make an affair for dessert fans with a mixed palette. We roll every individual frozen yogurt arranged with the freshest fixings directly
        before your eyes, which means no additives or stabilizers are included.

        <p> It’s frozen yogurt in its rawest frame – crisp off the plate. Settled on Vettersstrasse, in the core of notable Chemnitz town, we welcome you to encounter frozen yogurt like no other. Nothing tastes superior to anything crisp custom-made frozen
            yogurt that comes directly out of the dessert producer. </p>

        <p> At <strong>‘Danny Ice Creams’</strong>, we endeavor to accomplish a similar inclination with every client, turning fluid cream to frozen yogurt in less than two minutes. Utilizing a propelled virus plate that achieves temperatures well beneath
            – 10°F, the frozen yogurt produces littler ice atoms to make it normally smoother and creamier, dispensing with the need to include extra fat and emulsifiers to make a similar rich, velvety surface we adore in the dessert.

            <p>Subsequent to seeing Chemnitz town thrive and transform, we tried to open a special sort of dessert parlor, mixing German flavors and methods with present-day components that mirror the manner in which our neighborhood is developing – a recharged
                soul and job while remaining consistent with our foundations.</p>
        </p>

    </p>


    {% endblock body %}